In [1]:
import numpy as np
import pandas as pd

In [9]:
data = pd.read_csv('/Users/van/Desktop/Didi_Research/shanghai_shape.csv')

In [14]:
data = data.drop('city', 1)

In [16]:
data.head()

,order_id,start_long,start_lat,end_long,end_lat,start_time,end_time,type,label,Hours,shared,start_region,end_region,distance,travel_time
0,2f0ef629f4598e8e8de3e86d368f3f62,121.472954,31.241369,121.41989,31.23151,12/22/16 0:07,12/22/16 0:24,gulf,0.0,0,0,76,76,0.002913,1036
1,f7027490d9285bc7c5093c362d1a93f3,121.480690,31.226961,121.37585,31.23105,12/22/16 0:07,12/22/16 0:32,gulf,0.0,0,0,76,76,0.011008,1469
2,a2bf16cc826ba72663df2e5233bc28f2,121.443430,31.251110,121.45295,31.18215,12/22/16 0:06,12/22/16 0:28,gulf,0.0,0,0,77,76,0.004846,1341
3,76a0d8a15dce38047ddb725fd56a1228,121.612870,31.205660,121.62876,31.18745,12/22/16 0:05,12/22/16 0:11,gulf,0.0,0,0,86,86,0.000584,372
4,eae2a33a5087a36172f3516970d116e3,121.421360,31.136290,121.42257,31.12231,12/22/16 0:05,12/22/16 0:14,gulf,0.0,0,0,76,76,0.000197,539

In [17]:
np.unique(data.label)

array([  0.00000000e+00,   3.79000000e+14,   9.42000000e+14, ...,
         9.20000000e+18,   9.21000000e+18,   9.22000000e+18])

In [18]:
np.unique(data.shared)

array([0, 1, 2, 3])

In [21]:
data_shared_two_ride = data.loc[data.shared == 2,]

In [23]:
data_shared_two_ride.shape

(668, 15)

In [24]:
data_shared_two_ride.head()

,order_id,start_long,start_lat,end_long,end_lat,start_time,end_time,type,label,Hours,shared,start_region,end_region,distance,travel_time
487,b5caf21e8c63efcd4134d3ebdb59633b,121.358082,31.100061,121.437850,31.154890,12/22/16 8:46,12/22/16 9:38,gulf,1.890000e+18,8,2,76,76,0.009369,3128
640,a0a0aeb1a519c5fe2d98ea3466abd008,121.627490,31.196440,121.632410,31.222630,12/22/16 9:15,12/22/16 9:27,gulf,6.900000e+18,9,2,86,86,0.000710,717
847,c66ccfe0225f5a7c9d4253375f05edc0,121.618260,31.252410,121.600385,31.254949,12/22/16 10:20,12/22/16 10:32,gulf,5.770000e+18,10,2,87,87,0.000326,717
865,8150d557487911ba7bff028cadb3a25a,121.634420,31.184940,121.596771,31.210595,12/22/16 10:22,12/22/16 10:45,gulf,1.660000e+18,10,2,86,86,0.002076,1407
932,cde319a59639331f6523609ef9eb85de,121.494382,31.215195,121.473300,31.236510,12/22/16 10:43,12/22/16 10:57,gulf,6.150000e+18,10,2,76,76,0.000899,857

In [25]:
data_nonshared = data.loc[data.shared == 0,]

In [108]:
def find_similar_shared_nonshared_trips(data_shared, data_nonshared):
    shared_id = []
    non_shared_id = []
    for i in range(0,data_shared.shape[0]):
        shared = data_shared.iloc[i,]
        start_region = shared.start_region
        end_region = shared.end_region
        non_shared = data_nonshared.loc[(data_nonshared.start_region == start_region) & (data_nonshared.end_region == end_region)]
        shared_id.append(shared.order_id)
        non_shared_id.append(find_nearest_trip(shared,non_shared))
    return shared_id,non_shared_id

In [109]:
def find_nearest_trip(shared_data,nonshared_data):
    if nonshared_data.shape[0] != 0:
        nearest_trip = nonshared_data.loc[np.argmin((nonshared_data.start_long - shared_data.start_long) ** 2 
                                                + (nonshared_data.end_long - shared_data.end_long) ** 2)]
        nearest_trip_id = nearest_trip.order_id
    else:
        nearest_trip_id = -1
    return nearest_trip_id

In [110]:
shared_id, nonshared_id = find_similar_shared_nonshared_trips(data_shared_two_ride,data_nonshared)

In [111]:
len(shared_id)

668

In [112]:
len(nonshared_id)

668

In [116]:
match_id = pd.DataFrame({'shared_id':shared_id},
                         {'nonshared_id':nonshared_id})

ValueError: Shape of passed values is (1, 668), indices imply (1, 1)

In [113]:
lst1 = range(100)
lst2 = range(100)
lst3 = range(100)
percentile_list = pd.DataFrame(
    {'lst1Tite': lst1,
     'lst2Tite': lst2,
     'lst3Tite': lst3
    })

In [114]:
percentile_list

    lst1Tite  lst2Tite  lst3Tite
0          0         0         0
1          1         1         1
2          2         2         2
3          3         3         3
4          4         4         4
5          5         5         5
6          6         6         6
7          7         7         7
8          8         8         8
9          9         9         9
10        10        10        10
11        11        11        11
12        12        12        12
13        13        13        13
14        14        14        14
15        15        15        15
16        16        16        16
17        17        17        17
18        18        18        18
19        19        19        19
20        20        20        20
21        21        21        21
22        22        22        22
23        23        23        23
24        24        24        24
25        25        25        25
26        26        26        26
27        27        27        27
28        28        28        28
29        29        29        29
..       ...       ...       ...
70        70        70        70
71        71        71        71
72        72        72        72
73        73        73        73
74        74        74        74
75        75        75        75
76        76        76        76
77        77        77        77
78        78        78        78
79        79        79        79
80        80        80        80
81        81        81        81
82        82        82        82
83        83        83        83
84        84        84        84
85        85        85        85
86        86        86        86
87        87        87        87
88        88        88        88
89        89        89        89
90        90        90        90
91        91        91        91
92        92        92        92
93        93        93        93
94        94        94        94
95        95        95        95
96        96        96        96
97        97        97        97
98        98        98        98
99        99        99        99

[100 rows x 3 columns]